

.carousel__section {
  padding: 50px;
  background-color: #fff;
  text-align: center;
  align-items: center

}

.carousel__section h2 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
}

.carousel__item {
  padding: 10px;
}

.carousel__item img {
  width: 90%; /* Adjust as needed */
  max-width: none; /* Prevent the image from being constrained by the carousel's default styles */
  height: auto;
  margin-bottom: 10px; /* Adds some space between the image and the text */
  align-items: center;
  
}

.carousel__item p {
  max-width: 90%; /* Ensures the text wraps properly within the container */
  font-size: 1.2em;
  color: #555;
  text-align: center;
  
}


